coc
configstore
efm-langserver
gatsby
gcloud
github-copilot
iterm2
chatgpt
neovim
nvim/plugin/packer_compiled.lua
plugged
planetscale
yarn
sanity
.jira
zk/private/*
zk/.zk/notebook.db
gh-dash
gh
chatgpt/config.json
